<section id="wall">
  <!--- \\\\\\\Post-->
  <div class="card gedf-card">
      <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex justify-content-between align-items-center">
                  <div class="ml-2">
                      <div class="h5 m-0">Hello {{user.name}}, share your post here!</div>
                  </div>
              </div>
          </div>
      </div>
    <div class="card-body">
      <form [formGroup]="formPost" (ngSubmit)="onSavePost(formPost)">
          <div class="form-group">
              <label for="title" class="col-form-label"></label>
              <input type="text" class="form-control" name="title" placeholder="Post Title" formControlName="title">
          </div>
          <div class="form-group">
              <label class="sr-only" for="message">post</label>
              <textarea class="form-control" name="description" rows="3" placeholder="What are you thinking?" formControlName="description"></textarea>
          </div>
          <div class="btn-toolbar justify-content-between">
              <div class="btn-group">
                  <button type="submit" class="btn btn-primary">Share</button>
              </div>
          </div>         
      </form>  
    </div>
</div>
<!-- Post /////-->
<!--- \\\\\\\Post-->
<div class="card gedf-card" *ngFor="let post of posts">
  <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex justify-content-between align-items-center">
              <div class="mr-2">
                  <img class="user-avatar" src="{{post.imageURL}}" alt="User Avatar">
              </div>
              <div class="ml-2">
                  <div class="h7 text-muted">{{post.userName}}</div>
              </div>
          </div>
      </div>
  </div>
  <div class="card-body">

      <div class="text-muted h8 mb-2"> <i class="fa fa-calendar"></i>  {{post.date_time | date: 'MMM d, y, h:mm:ss a'}}</div>

      <h5 routerLink="/post/{{post.id}}" class="card-title">{{post.title}}</h5>

      <p class="card-text">
          {{post.description}}
      </p>
  </div>
  <div class="card-footer">
      <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
      <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
      <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
  </div>
</div>
<!-- Post /////-->
</section>
